#root {
    max-width: 1280px;
    margin: 0 auto;
    padding: 2rem;
    text-align: center;
}

.sentence.ja {
    font-size: 2em;
    line-height: 1.3em;

    .highlight {
        color: red;
    }
}

::selection {
    background-color: #0a0a0a;
    border-radius: 10px;
}

.popup {
    position: absolute;
    display: flex;
    gap: 15px;
    background-color: #0a0a0a;
    user-select: none;
    translate: 0 -100%;
    padding: 8px 12px;

    a {
        display: block;
        text-decoration: none;
        color: white;
        font-size: 14px;
        line-height: 100%;
        font-weight: bold;

        svg {
            display: block;
            font-size: 25px;
            margin: 0 auto 5px auto;

            path {
                fill: white;
            }
        }
        &.gtranslate:hover {
            svg path {
                fill: #1967d2;
            }
        }
        &.jisho:hover {
            svg path {
                fill: #28cb28;
            }
        }
    }
}

.answer {
    height: 175px;

    .links {
        list-style: none;
        padding: 0;
    }
}

button {
    border: 0;
    border-radius: 2px;
    padding: 5px 6px 1px 6px;
    margin: 0 3px;
    cursor: pointer;
    font-size: 20px;

    &.correct {
        color: #328b30;
        background: white;
    }

    &.incorrect {
        background: #bb0404;
    }
}

.collapsed {
    background: #2a2a2a;
    border-radius: 4px;
    padding: 15px;
    margin: 0 auto 0 auto;

    h2 {
        display: inline-block;
        font-size: 16px;
        line-height: 1em;
        cursor: pointer;
        padding: 0;
        margin: 0;

        svg {
            position: relative;
            top: 2px;
        }
    }
}

.collapsed.preferences {
    max-width: 380px;

    form {
        display: grid;
        grid-template-columns: 35% 1fr;
        align-items: center;
        justify-items: start;
        gap: 5px;
        font-size: 14px;
        margin-top: 0.8em;

        label {
            text-align: right;
            line-height: 1.2em;
            width: 100%;
        }

        input[type='text'] {
            font-size: 12px;
            width: 100%;
            box-sizing: border-box;
        }
        
        input[type='checkbox'] {
            display: inline-block;
            justify-items: start;
        }
    }
}
