.welcome {
    .crab { 
        font-size: 30px;
    }

    form {
        display: flex;
        justify-content: center;
        align-items: center;

        input {
            width: 290px;
            margin-left: 10px;
            padding: 5px 10px;
    
            font-family: "Courier New", Courier, monospace;
            font-weight: bold;
        }
        .validity {
            height: 16px;
            width: 16px;
            
            svg path {
                fill: red;
            }
        }
    }
}

.App {
    display: grid;
    grid-template-columns: 100%;
    justify-items: center;
    align-items: center;
}

.content {
    flex: 1;
}

footer {
    color: #888888;
    font-size: 12px;
    margin-top: 2em;

    a {
        color: #888888;
        margin-right: 10px;
    }
}

.sentence.ja {
    font-size: 2em;
    line-height: 1.3em;

    .highlight {
        color: red;
    }
}

::selection {
    background-color: #0a0a0a;
    border-radius: 10px;
}

.popup {
    position: absolute;
    display: flex;
    gap: 15px;
    background-color: #0a0a0a;
    user-select: none;
    translate: 0 -100%;
    padding: 8px 12px;

    a {
        display: block;
        text-decoration: none;
        color: white;
        font-size: 14px;
        line-height: 100%;
        font-weight: bold;

        svg {
            display: block;
            font-size: 25px;
            margin: 0 auto 5px auto;

            path {
                fill: white;
            }
        }
        &.gtranslate:hover {
            svg path {
                fill: #1967d2;
            }
        }
        &.jisho:hover {
            svg path {
                fill: #28cb28;
            }
        }
    }
}

.answer {
    height: 175px;

    .links {
        list-style: none;
        padding: 0;

        a {
            display: inline-block;
            background-color: white;
            border-radius: 2px;
            padding: 5px 20px;
            vertical-align: middle;
            color: #1c45f5;
            text-decoration: none;
            font-weight: bold;

            svg {
                display: inline-block;
                vertical-align: middle;
                font-size: 1.3em;
                margin-left: 0.1em;
            }

            &:hover {
                background: #eaeaea;
            }
        }
    }

    .correct,.incorrect {
        border: 0;
        border-radius: 2px;
        padding: 5px 6px 1px 6px;
        margin: 0 3px;
        cursor: pointer;
        font-size: 20px;
    }
    
    .correct {
        color: #328b30;
        background: white;
    
        &:hover {
            background: #eaeaea;
        }
    }
    
    .incorrect {
        color: white;
        background: #bb0404;
    
        &:hover {
            background: #a70202;
        }
    }
    
    .showAnswer {
        display: flex;
        align-items: center;
        gap: 5px;
        padding: 8px 12px;
        margin: 0 auto;
        border: 0;
        border-radius: 2px;
        cursor: pointer;
        font-weight: bold;

        svg {
            font-size: 22px;
        }
        &:hover {
            background-color: #5a5a5a;
        }
    }
}

.collapsable {
    background: #2a2a2a;
    border-radius: 4px;
    padding: 15px;
    margin: 0 auto 0 auto;

    h2 {
        display: block;
        font-size: 16px;
        line-height: 1em;
        cursor: pointer;
        padding: 0;
        margin: 0;
        user-select: none;

        svg {
            position: relative;
            top: 2px;
            transition: transform 0.1s ease-out;
        }
    }
    &.open h2:hover svg {
        transform: translateY(-3px);
    }
    &.closed h2:hover svg {
        transform: translateY(3px);
    }
}

.collapsable.preferences {
    width: 410px;

    form {
        display: grid;
        grid-template-columns: 35% 1fr;
        align-items: center;
        justify-items: start;
        gap: 5px;
        font-size: 14px;
        margin-top: 0.8em;

        label {
            text-align: right;
            line-height: 1.2em;
            width: 100%;
        }

        input[type='text'] {
            font-size: 12px;
            width: 100%;
            box-sizing: border-box;
        }
        
        input[type='checkbox'] {
            display: inline-block;
            justify-items: start;
        }

        .levelInput {
            display: flex;
            align-items: center;
            
            label {
                margin: 0 2px 0 30px;
            }
        }
    }
}

.App.vertical {
    grid-template-columns: 50% 50%;
    gap: 25px;

    h1 {
        grid-column: 1/3;
    }

    .sentence.ja {
        writing-mode: vertical-rl;
        max-height: 400px;
        margin: 0;
        text-align: start;
    }

    .preferences {
        grid-column: 1/3;
    }
}