$theme-error-red: #bb0404;
$theme-error-red-light: #ec0000;
$theme-error-red-dark: #a70202; 

$theme-correct-green: #328b30;

$theme-wk-blue: #1c45f5;
$theme-wk-pink: #ff00aa;

$theme-off-white: #eaeaea;
$theme-light-grey: #808080;
$theme-grey: #5a5a5a;
$theme-dark-grey: #3b3b3b;

$wk-font-stack: "Hiragino Kaku Gothic Pro","Meiryo","Source Han Sans Japanese","NotoSansCJK",
    "TakaoPGothic","Yu Gothic","ヒラギノ角ゴ Pro W3","メイリオ","Osaka","MS PGothic",
    "Noto Sans JP","PingFang SC","Noto Sans SC",sans-serif;

.welcome {
    .crab { 
        font-size: 30px;
    }

    a {
        color: #869dff;

        &:hover {
            color: #5978ff;
        }
    }

    form {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;

        input {
            width: 305px;
            max-width: 100%;
            margin: 0 10px;
            padding: 5px 10px;
    
            font-size: 14px;
            font-family: "Courier New", Courier, monospace;
            font-weight: bold;
        }
        .validity {
            height: 16px;
            width: 16px;
            
            svg path {
                fill: $theme-error-red-light;
            }
        }
    }
}

.app {
    display: grid;
    gap: 25px;
    grid-template-columns: 1fr;
    justify-items: center;
    align-items: center;

    &.horizontal {
        max-width: 800px;
        margin: 0 auto;

        .popup {
            translate: 0 -100%;
        }
    }
}

h1 {
    color: $theme-light-grey;
    text-align: left;
    margin: 0;
    user-select: none;
    margin-bottom: 1em;

    svg { 
        transform: translateY(3px);
    }
    .app-name {
        margin-left: 0.3em;
    }
}

.content {
    flex: 1;
}

footer {
    color: $theme-light-grey;
    font-size: 12px;
    margin-top: 2em;

    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    gap: 10px 20px;
    line-height: 1.5em;

    a {
        color: $theme-light-grey;
    }
}

.sentence.ja {
    font-size: 2em;
    line-height: 1.3em;
    margin: 0;
    font-family: $wk-font-stack;

    .highlight {
        color: $theme-wk-pink;
    }
}

::selection {
    background-color: #0a0a0a;
}

.popup {
    position: fixed;
    display: flex;
    gap: 15px;
    background-color: #0a0a0a;
    user-select: none;
    padding: 8px 12px;

    a {
        display: block;
        text-decoration: none;
        color: white;
        font-size: 14px;
        line-height: 100%;
        font-weight: bold;

        svg {
            display: block;
            font-size: 25px;
            margin: 0 auto 5px auto;

            path {
                fill: white;
            }
        }
        &.gtranslate:hover {
            svg path {
                fill: #1967d2;
            }
        }
        &.jisho:hover {
            svg path {
                fill: #28cb28;
            }
        }
    }
}

.answer {
    .sentence.en {
        margin: 0 0 1em 0;
    }

    .links {
        list-style: none;
        padding: 0;

        a {
            display: inline-block;
            background-color: white;
            border-radius: 2px;
            padding: 5px 20px;
            vertical-align: middle;
            color: $theme-wk-blue;
            text-decoration: none;
            font-weight: bold;
            user-select: none;

            svg {
                display: inline-block;
                vertical-align: middle;
                font-size: 1.3em;
                margin-left: 0.1em;
            }

            .ja {
                font-family: $wk-font-stack;
                white-space: nowrap;
            }

            &:hover {
                background: $theme-off-white;
            }
        }
    }

    .correct, .incorrect {
        border: 0;
        border-radius: 2px;
        padding: 7px 8px 2px 8px;
        margin: 0 8px;
        cursor: pointer;
        font-size: 20px;
    }
    
    .correct {
        color: $theme-correct-green;
        background: white;
    
        &:hover {
            background: $theme-off-white;
        }
    }
    
    .incorrect {
        color: white;
        background: $theme-error-red;
    
        &:hover {
            background: $theme-error-red-dark;
        }
    }
    
    .show-answer {
        display: flex;
        align-items: center;
        gap: 5px;
        padding: 8px 12px;
        margin: 0 auto;
        border: 0;
        border-radius: 2px;
        cursor: pointer;
        font-size: 13px;
        font-weight: bold;
        background-color: $theme-light-grey;

        svg {
            font-size: 22px;
        }
        &:hover {
            background-color: $theme-grey;
        }
    }
}

.collapsable {
    background: #2a2a2a;
    border-radius: 4px;
    padding: 15px;
    margin: 0 auto 0 auto;
    overflow: hidden;

    h2 {
        display: block;
        font-size: 16px;
        line-height: 1em;
        cursor: pointer;
        padding: 0;
        margin: 0;
        user-select: none;

        svg {
            position: relative;
            top: 2px;
            transition: transform 0.1s ease-out;
        }
    }
    &.closed h2:hover svg {
        transform: translateY(-3px);
    }
    &.open h2:hover svg {
        transform: translateY(3px);
    }
}

.collapsable.settings {
    width: 440px;
    max-width: 100%;
    box-sizing: border-box;
    margin-top: 1em;

    form {
        display: grid;
        grid-template-columns: 35% 1fr;
        align-items: center;
        justify-items: start;
        gap: 5px;
        font-size: 14px;
        margin-top: 0.8em;

        label {
            text-align: right;
            line-height: 1.2em;
            width: 100%;
        }

        input[type='text'] {
            font-size: 12px;
            width: 100%;
            box-sizing: border-box;
        }
        
        input[type='checkbox'] {
            height: 16px;
        }

        .levelInput {
            display: flex;
            align-items: center;
            
            label {
                margin: 0 2px 0 30px;
            }
        }
    }
}

.app.vertical {
    grid-template-columns: 1fr 1fr;
    width: 100%;
    max-width: 450px;
    margin: 0 auto;

    .stats, .status {
        grid-column: 1/3;
    }

    .sentence.ja {
        writing-mode: vertical-rl;
        max-height: 400px;
        margin: 0;
        text-align: start;
    }
}

input[type='text'], input[type='number'], select {
    border: 1px solid $theme-grey;
    padding: 5px 10px;
    background-color: $theme-dark-grey;
    border-radius: 0;

    &:focus {
        outline: none;
        border-color: $theme-light-grey;
    }
}

select{
	background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4NCjwhLS0gR2VuZXJhdG9yOiBBZG9iZSBJbGx1c3RyYXRvciAyMC4wLjAsIFNWRyBFeHBvcnQgUGx1Zy1JbiAuIFNWRyBWZXJzaW9uOiA2LjAwIEJ1aWxkIDApICAtLT4NCjxzdmcgdmVyc2lvbj0iMS4xIiBpZD0iTGF5ZXJfMSIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIiB4bWxuczp4bGluaz0iaHR0cDovL3d3dy53My5vcmcvMTk5OS94bGluayIgeD0iMHB4IiB5PSIwcHgiDQoJIHZpZXdCb3g9IjAgMCA0LjkgMTAiIHN0eWxlPSJlbmFibGUtYmFja2dyb3VuZDpuZXcgMCAwIDQuOSAxMDsiIHhtbDpzcGFjZT0icHJlc2VydmUiPg0KPHN0eWxlIHR5cGU9InRleHQvY3NzIj4NCgkuc3Qwe2ZpbGw6I2ZmZmZmZjt9DQo8L3N0eWxlPg0KPHRpdGxlPmFycm93czwvdGl0bGU+DQo8cG9seWdvbiBjbGFzcz0ic3QwIiBwb2ludHM9IjEuNCw0LjcgMi41LDMuMiAzLjUsNC43ICIvPg0KPHBvbHlnb24gY2xhc3M9InN0MCIgcG9pbnRzPSIzLjUsNS4zIDIuNSw2LjggMS40LDUuMyAiLz4NCjwvc3ZnPg==)
        no-repeat 95% 50%, $theme-dark-grey;
	-moz-appearance: none; 
	-webkit-appearance: none; 
	appearance: none;
    padding-right: 22px;
}

@media (max-width: 500px) {
    .collapsable.settings form {
        grid-template-columns: 1fr;

        label {
            text-align: left;
        }
    }
}

@media (max-width: 460px) {
    .app.vertical {
        grid-template-columns: 1fr;
        
        .stats, .status {
            grid-column: 1/2;
        }
    }
}

@media (max-width: 300px) {
    h1 .app-name {
        display: none;
    }
}

@media (max-height: 400px) {
    h1 {
        display: none;
    }
}

@media (max-width: 500px) or (max-height: 400px) {
    .answer {
        .sentence.en {
            margin-bottom: 2em;
        }
        .correct, .incorrect {
            padding: 15px 15px 11px 15px;
        }
        .show-answer {
            padding: 12px 18px;
            font-size: 15px;
        }
        .links {
            margin: 2em 0;

            a {
                padding: 10px 30px;
            }
        }
    }

    .popup {
        top: auto !important;
        bottom: 0;
        left: 0 !important;
        right: 0;
        z-index: 100;
        translate: none !important;
        padding: 20px 25px;
    }
}